<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Us</title>
</head>

<body>
    <form action="/process" method="post">
        <h1>Please enter your email!</h1>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {{message}} {% endfor %} {% endif %} {% endwith %}
        <div>
            <label for="email">Email:</label>
            <input type="text" , name="email" , id="email">
            <input type="submit" , value="Add Email">
        </div>
    </form>
</body>

</html>