<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>

<body>
    <h1>YOU HAVE SUCCESSFULLY ENTERED A VALID EMAIL</h1>
    <div>
        <h3>Email Addresses Entered:</h3>

        {% for x in users: %}
        <p>ID: {{ x['id'] }}</p>
        <p>Email: {{ x['email'] }}</p>
        {% endfor %}
        <hr>




    </div>

</body>

</html>