<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Color Picker</title>
</head>

<body style="background-color: rgb({{red}},{{green}},{{blue}})">
    <h1>ENTER YOUR COLOR VALUES BELOW:</h1>

    <div>
        <form action="/submit" method="POST">
            RED:<input name='red' type='text'> GREEN:
            <input name='green' type='text'> BLUE:
            <input name='blue' type="text ">

            <h5>* All values must be between 1 and 255</h5>
            <input type="submit" value="SHOW MY COLOR! ">

        </form>
    </div>

</body>

</html>