    #container {
        width: 300px;
    }
    
    textarea {
        display: inline-block;
        margin-left: 2px
    }
    
    #dojo,
    #comment,
    #language,
    #name {
        margin-top: 20px;
    }