<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
</head>

<body>
    <form action="/submit" , method="POST">
        <h1 style="text-align: center;">COUNTER</h1>
        <h3 style="text-align:center;">{{session['counter']}}:Times</h3>

    </form>
    <form action="/plus" , method="POST">
        <input type="submit" value="Plus 2" style="text-align: center;">
    </form>
    <form action="/reset" , method="POST">
        <input type="submit" value="Reset" style="text-align: center;">
    </form>

</body>

</html>